* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 0.7px;
}

body {
    font-family: "Rubik";
    font-size: 16rem;
}

section {
    padding-bottom: 100rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    padding-bottom: 50rem;
}

h1,
h2,
h3 {
    font-weight: 400rem;
    text-align: center;
}

h1,
h2 {
    font-size: 52rem;
    letter-spacing: 4rem;
    color: #333;
}

h2 {
    padding-bottom: 70rem;
    text-align: center;
}

.Main-bg a {
    display: inline-block;
    min-width: 252rem;
    border-radius: 40rem;
    background-color: #c6792b;
    padding: 20rem;
    color: white;
    letter-spacing: 1rem;
    font-size: 24rem;
    transition: all 1s ease;
}

.Main-bg a:hover {
    background-color: #333;
    border-color: #333;
}

.wrapper {
    margin: 0 auto;
    width: 85%;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.navigation {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    font-size: 15px;
}

.navigation a {
    transition: all 1s ease;
}

.navigation a:hover {
    color: #c6792b;
}

.menu {
    column-gap: 50rem;
}

.menu a {
    letter-spacing: 1rem;
    color: #333;
}

.Main-bg {
    background: #d8dadd url(../img/picturemain.jpg) center/cover no-repeat;
    padding: 15% 0;
    text-align: center;
}

.assortment {
    text-align: center;
}

.assortment div,
.work,
.contacts .flex-between {
    gap: 20rem;
    flex-wrap: wrap;
}

.assortment h2 {
    font-size: 60rem;
    letter-spacing: 4rem;
}

.assortment h3 {
    padding: 28rem 0;
    font-size: 24rem;
    letter-spacing: 2rem;
    text-transform: uppercase;
    color: #fff;
}

.assortment figure {
    background-color: #333;
    color: white;
    text-transform: uppercase;
    font-size: 14rem;
    letter-spacing: 2rem;
    max-width: 40vw;
}

.assortment img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-text p {
    margin-bottom: 40rem;
    font-size: 20rem;
}

.work-picture {
    width: 100%;
}

.work-picture img {
    width: 100%;
}

.work-text h2 {
    line-height: 0.8em;
    padding-bottom: 55rem;
}

.work h2 {
    font-size: 62rem;
    letter-spacing: 4rem;
}

.bg {
    background: #333 url(../img/cake.jpg) center/cover no-repeat;
    min-height: 300rem;
}

.contacts h2 {
    text-align: center;
    font-size: 74rem;
    letter-spacing: 4rem;
}

.contacts-text div {
    margin-bottom: 60rem;
}

.contacts-text {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contacts {
    font-size: 36rem;
    letter-spacing: 2rem;
}

.map {
    margin-right: 0;
}

.map img {
    width: 100%;
}

.contacts a {
    font-size: 24rem;
    color: #333;
}

.footer {
    background-color: #333;
    padding: 60rem;
}

.footer a {
    gap: 10rem;
}

.footer a {
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.footer img {
    max-width: 23px;
    max-height: 23px;
}

.footer div {
    column-gap: 20rem;
}

.footer p {
    text-align: center;
    align-items: center;
    padding-top: 30rem;
    color: white;
    font-size: 13px;
}

.footer-top {
    flex-wrap: wrap;
}

.footer-top div {
    padding: 10px;
}


.flex {
    display: flex;
    column-gap: 90rem;
    align-items: center;
}

@media screen and (min-width: 425px) {

    h1,
    h2 {
        font-size: 72rem;
    }

    .map p {
        font-size: 10rem;
    }

    .footer {
    background-color: #333;
    padding: 60rem;
    }

    .footer p {
        padding-left: 60rem;
    }

    .footer div {
    column-gap: 20rem;
}
}

@media screen and (min-width: 768px) {

    .assortment div,
    .work,
    .contacts .flex-between {
        flex-wrap: nowrap;
    }

    .work-text {
        max-width: 50%;
    }

    .contacts-text {
        display: flex;
        justify-content: center;
        padding-left: 60px;
        width: 50%;
    }

    .footer a {
        width: 100%;
    }

    .footer img {
        min-width: 30px;
        min-height: 30px;
    }

    .footer p {
        font-size: 11px;
    }

    .footer a {
        font-size: 11px;
    }
}

@media screen and (min-width: 1024px) {

    .assortment div,
    .work {
        column-gap: 50rem;
    }

    .navigation {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
        font-size: 20px;
    }
}

@media screen and (min-width: 1920px) {
    html {
        font-size: 1.7px;
    }
}